<div class="row">
  <div class="col-xs-12">
    <p></p>
      <div class="btn-group" role="group" aria-label="Basic example" *ngIf="!showCreateTitle">
          <button class="btn btn-secondary btn-success" (click)="showCreateForm()">New Title</button>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
      <app-create-title *ngIf="showCreateTitle"></app-create-title>
  </div>
</div>

<hr/>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
       <app-title-item *ngFor="let title of titles; let i = index" [title]="title" [anchorItem]="i" (onTitleSelected)="onTitleSelected($event)"></app-title-item>
    </div>
  </div>
</div>