<div *ngIf="showTitleDetails" class="card sticky-top language-selector">
  <small>{{ title.uriId }} </small>
  <p>rental: &pound;{{ title.rentalPrice}}</p>
  <div class="form-group language-selector">
    <label for="languagesSelect">Select language</label>
    <select class="form-control" id="languagesSelect" [(ngModel)]="language" name="languages" (change)="onLanguageChange()"
      required>
      <option>en</option>
      <option>it</option>
      <option>gr</option>
    </select>
  </div>

  <a class="list-group-item list-group-item-action flex-column align-items-start movie-item" *ngIf="language=='en'">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="list-group-item-heading">{{ title.titleSort }}</h4>

      <small><a (click)="playMovie()" target="_blank"><img src="http://cdn.onlinewebfonts.com/svg/img_404212.png" class="play-image"></a></small>
      <small>{{ title.year }}</small>
      <small>{{ title.resolution }}</small>
    </div>
    <p class="mb-1">{{ title.summaryLong }}</p>
    <img [src]="title.boxCover[0]" alt="{{ title.titleSort }}" class="img-responsive title-image">
  </a>


  <a class="list-group-item list-group-item-action flex-column align-items-start movie-item" *ngIf="language=='it'">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="list-group-item-heading">{{ title.titleSort_it }}</h4>
      <small><a (click)="playMovie()" target="_blank"><img src="http://cdn.onlinewebfonts.com/svg/img_404212.png" class="play-image"></a></small>
      <small>{{ title.year }}</small>
      <small>{{ title.resolution }}</small>
    </div>
    <p class="mb-1">{{ title.summaryLong_it }}</p>
    <img [src]="title.boxCover_it[0]" alt="{{ title.titleSort_it }}" class="img-responsive title-image">
  </a>


  <a class="list-group-item list-group-item-action flex-column align-items-start movie-item" *ngIf="language=='gr'">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="list-group-item-heading">{{ title.titleSort_gr }}</h4>
      <small><a (click)="playMovie()" target="_blank"><img src="http://cdn.onlinewebfonts.com/svg/img_404212.png" class="play-image"></a></small>
      <small>{{ title.year }}</small>
      <small>{{ title.resolution }}</small>
    </div>
    <p class="mb-1">{{ title.summaryLong_gr }}</p>
    <img [src]="title.boxCover_gr[0]" alt="{{ title.titleSort_gr }}" class="img-responsive title-image">
  </a>


</div>